.h-screen{
    height:100vh;
}
.headroom {
    position:fixed;
    top:0;
    width: 100vw;
    z-index: 100;
    border: none;
    transition: transform 500ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
