<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
        <link rel="stylesheet" href="/assert/style/main.css">
        <title></title>
    </head>
    <body>

        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button>
                    <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Holy Bible</ion-title>
            <ion-buttons slot="secondary">
                <ion-menu-button auto-hide="false"></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
        <!-- Segment with anchors -->
        <ion-segment>
            <ion-segment-button value="dogs">
                <ion-label>旧约</ion-label>
            </ion-segment-button>
            <ion-segment-button value="cats">
                <ion-label>新约</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- Default Note -->
        <!-- Notes in a List -->
        <ion-list>
            <ion-item>
                <ion-note slot="start">Off</ion-note>
                <ion-label>Note (Start)</ion-label>
                <ion-note slot="end">On</ion-note>
            </ion-item>
        </ion-list>


    </body>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
</html>
