<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css" />
        <link rel="stylesheet" href="/assert/style/main.css"/>
        <script type="module">
                import { menuController } from 'https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/index.esm.js';
                window.menuController = menuController;
        </script>
    </head>

    <body>
        <ion-app>
            <ion-menu side="start" content-id="main-content">
                <ion-header >
                    <ion-toolbar translucent>
                        <ion-title>Menu</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item>
                            <ion-icon name="mail" slot="start"></ion-icon>
                            <ion-label>Inbox</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="paper-plane" slot="start"></ion-icon>
                            <ion-label>Outbox</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="heart" slot="start"></ion-icon>
                            <ion-label>Favorites</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="archive" slot="start"></ion-icon>
                            <ion-label>Archived</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="trash" slot="start"></ion-icon>
                            <ion-label>Trash</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <ion-label>Spam</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-menu>

            <div class="ion-page" id="main-content">
                <ion-header >
                    <ion-toolbar >
                        <ion-buttons slot="start">
                            <ion-menu-button></ion-menu-button>
                        </ion-buttons>
                    <ion-title>圣经</ion-title>
                    <ion-buttons slot="end">
                        <ion-button >
                            login
                        </ion-button>
                    </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content fullscreen>
                    <img src="/assert/image/2.svg" alt="">
                    <ion-card color="danger">
                        <ion-card-header>
                            <ion-card-title>箴言 16-32</ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            不轻易发怒者胜过勇士，能自我控制胜过攻陷城池。
                        </ion-card-content>
                    </ion-card>
                    <br>
                    <ion-button expand="full" fill="outline">开始学习</ion-button>

                </ion-content>
                <ion-tabs>

  <ion-tab tab="tab-schedule">
    <ion-nav></ion-nav>
  </ion-tab>

  <ion-tab tab="tab-speaker">
    <ion-nav></ion-nav>
  </ion-tab>

  <ion-tab tab="tab-map" component="page-map">
    <ion-nav></ion-nav>
  </ion-tab>

  <ion-tab tab="tab-about" component="page-about">
    <ion-nav></ion-nav>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>学习历程</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab-speaker">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>我喜欢的</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-map">
      <ion-icon name="map"></ion-icon>
      <ion-label>我的笔记</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>关于我们</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
            </div>
        </ion-app>

        <script>
            async function openMenu() {
                await menuController.open();
            }
        </script>
    </body>

</html>
