
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css" />
        <link rel="stylesheet" href="/assert/style/main.css"/>
        <script type="module">
import { menuController } from 'https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/index.esm.js';
                window.menuController = menuController;
        </script>
    </head>

    <body>
        <ion-app>
            <ion-menu side="start" content-id="main-content">
                <ion-header >
                    <ion-toolbar translucent>
                        <ion-title>Menu</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item>
                            <ion-icon name="mail" slot="start"></ion-icon>
                            <ion-label>Inbox</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="paper-plane" slot="start"></ion-icon>
                            <ion-label>Outbox</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="heart" slot="start"></ion-icon>
                            <ion-label>Favorites</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="archive" slot="start"></ion-icon>
                            <ion-label>Archived</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="trash" slot="start"></ion-icon>
                            <ion-label>Trash</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <ion-label>Spam</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-menu>

            <div class="ion-page" id="main-content">
                <ion-header >
                    <ion-toolbar >
                        <ion-buttons slot="start">
                            <ion-menu-button></ion-menu-button>
                        </ion-buttons>
                    <ion-title>圣经</ion-title>
                    <ion-buttons slot="end">
                        <ion-button >
                            login
                        </ion-button>
                    </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content fullscreen>
                    <ion-card >
                        <ion-card-header>
                            <ion-card-title>箴言 16-32</ion-card-title>
                        </ion-card-header>
                        <div>
                            
                            <h1>Acceptable use policy</h1>
<p>These acceptable use policy (&quot;Acceptable Use Policy&quot;, &quot;AUP&quot;, &quot;Policy&quot;) is an agreement between Website Operator (&quot;Website Operator&quot;, &quot;us&quot;, &quot;we&quot; or &quot;our&quot;) and you (&quot;User&quot;, &quot;you&quot; or &quot;your&quot;). This Policy sets forth the general guidelines and acceptable and prohibited uses of the <a target="_blank" rel="nofollow" href="http://www.bilbe.cn">bilbe.cn</a> website and any of its products or services (collectively, &quot;Website&quot; or &quot;Services&quot;).</p>
<h2>Prohibited activities and uses</h2>
<p>You may not use the Services to engage in activity that is illegal under applicable law, that is harmful to others, or that would subject us to liability, including, without limitation, in connection with any of the following, each of which is prohibited under this Policy:</p>
<ul>
<li>Disclosing sensitive personal information about others.</li>
<li>Collecting, or attempting to collect, personal information about third parties without their knowledge or consent.</li>
<li>Threatening harm to persons or property or otherwise harassing behavior.</li>
<li>Infringing the intellectual property or other proprietary rights of others.</li>
<li>Facilitating, aiding, or encouraging any of the above activities through our Services.</li>
</ul>
<h2>System abuse</h2>
<p>Any User in violation of our Services security is subject to criminal and civil liability, as well as immediate account termination. Examples include, but are not limited to the following:</p>
<ul>
<li>Use or distribution of tools designed for compromising security of the Services.</li>
<li>Intentionally or negligently transmitting files containing a computer virus or corrupted data.</li>
<li>Accessing another network without permission, including to probe or scan for vulnerabilities or breach security or authentication measures.</li>
<li>Unauthorized scanning or monitoring of data on any network or system without proper authorization of the owner of the system or network.</li>
</ul>
<h2>Service resources</h2>
<p>You may not consume excessive amounts of the Services or use the Services in any way which results in performance issues or which interrupts the services for other Users. Prohibited activities that contribute to excessive use, include without limitation:</p>
<ul>
<li>Deliberate attempts to overload the Services and broadcast attacks (i.e. denial of service attacks).</li>
<li>Engaging in any other activities that degrade the usability and performance of our Services.</li>
</ul>
<h2>Security</h2>
<p>You take full responsibility for maintaining reasonable security precautions for your account. You are responsible for protecting and updating any login account provided to you for our Services.</p>
<h2>Enforcement</h2>
<p>We reserve our right to be the sole arbiter in determining the seriousness of each infringement and to immediately take corrective actions, including but not limited to:</p>
<ul>
<li>Disabling or removing any content which is prohibited by this Policy, including to prevent harm to others or to us or our Services, as determined by us in our sole discretion.</li>
<li>Reporting violations to law enforcement as determined by us in our sole discretion.</li>
<li>A failure to respond to an email from our abuse team within 2 days, or as otherwise specified in the communication to you, may result in the suspension or termination of your Services.</li>
</ul>
<p>Suspended and terminated User accounts due to violations will not be re-activated.</p>
<p>Nothing contained in this Policy shall be construed to limit our actions or remedies in any way with respect to any of the prohibited activities. In addition, we reserve at all times all rights and remedies available to us with respect to such activities at law or in equity.</p>
<h2>Reporting violations</h2>
<p>If you have discovered and would like to report a violation of this Policy, please contact us immediately. We will investigate the situation and provide you with full assistance.</p>
<h2>Changes and amendments</h2>
<p>We reserve the right to modify this Policy or its terms relating to the Website or Services at any time, effective upon posting of an updated version of this Policy on the Website. When we do, we will post a notification on the main page of our Website. Continued use of the Website after any such changes shall constitute your consent to such changes. Policy was created with <a style="color:inherit" target="_blank" title="Acceptable use policy generator" href="https://www.websitepolicies.com/blog/sample-acceptable-use-policy-template">WebsitePolicies</a>.</p>
<h2>Acceptance of this policy</h2>
<p>You acknowledge that you have read this Policy and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Policy. If you do not agree to abide by the terms of this Policy, you are not authorized to use or access the Website and its Services.</p>
<h2>Contacting us</h2>
<p>If you would like to contact us to understand more about this Policy or wish to contact us concerning any matter relating to it, you may send an email to &#99;&#104;&#101;nzha&#110;&#103;761&#56;&#64;&#49;63&#46;&#99;&#111;m</p>
<p>This document was last updated on July 7, 2020</p>
                        </div>

                        <ion-card-content>
                        </ion-card-content>
                    </ion-card>
                </ion-content>
            </div>
        </ion-app>

        <script>
async function openMenu() {
    await menuController.open();
}
        </script>
    </body>

</html>
