<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
        <title></title>
    </head>
    <body>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button class="backButton">
                        <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-buttons slot="primary">
                    <ion-button>
                        <ion-menu-button auto-hide="false"></ion-menu-button>
                    </ion-button>
                </ion-buttons>

                <ion-title>圣经</ion-title>
            </ion-toolbar>
        </ion-header>
        <!-- Segment with anchors -->
        <ion-segment>
            <ion-segment-button value="/bible/allroll/0" class="bookButton">
                <ion-label>旧约</ion-label>
            </ion-segment-button>
            <ion-segment-button value="/bible/allroll/1" class="bookButton">
                <ion-label>新约</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-content style="height:80vh">
            <!-- Notes in a List -->
            <ion-list>
                <div>
                    {{#each bookId}}
                    <ion-item button class="rollButton" data-value="{{this.SN}}">
                        <ion-note style="width:4rem;margin-right:.1rem" slot="start" color="tertiary">{{this.ShortName}}</ion-note>
                        <ion-label>{{this.FullName}}</ion-label>
                        <ion-note slot="end" >{{this.ChapterNumber}}</ion-note>
                    </ion-item>
                    {{/each}}
                </div>
            </ion-list>
        </ion-content>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <script src="/script/home/bundle/graph.js"></script>
</html>
