<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/basscss@9.0.0-0/basscss.min.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
        <link rel="stylesheet" href="/assert/style/main.css">
        <title></title>
    </head>

    <body class="pt2">
        
        <header id="header" class="header headroom--pinned">
            <h3 class="ui header huge ">
                <i class="studiovinari icon btn-header"></i>
                <div class="content">
                    <span>Christopher Pau</span>
                    <div class="sub header">
                        <span>你们当以基督耶稣的心为心</span>
                        <span>《腓2：5》</span>
                    </div>
                </div>
                </h2>
        </header >
        <br>
        <br>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container fluid p2">
                        <div class="mb1 ui fluid search sticky">
                            <div class="ui icon input" style="width:100%">
                                <input class="prompt" type="text" placeholder="搜索">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="ui one column grid">
                            <div class="column">
                                <div id="main" class="ui raised segment">

                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container fluid p2">
                        <div class="mb1 ui fluid search sticky">
                            <div class="ui icon input" style="width:100%">
                                <input class="prompt" type="text" placeholder="搜索">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="ui one column grid">
                            <div class="column">
                                <div id="main" class="ui raised segment">

                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- 如果需要滚动条 -->
            <div class="swiper-scrollbar"></div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="/script/home/bundle/chapter.js"></script>
</html>
